body{
  background-color: #333131;
  overflow-x: hidden;
}
.container{
  width: 100%;
  height: 100vh;
  max-width: 500px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.box-start{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-start__img{
  width: 200px;
  margin-bottom: 10px;
}
.btn-start{
  width: 100%;
  height: 40px;
  font-size: 22px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 8px;
}
.btn-stop{
  width: 100%;
  opacity: 0.3;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #2d6eaa;
}
.btn-spy-count{
  width: 35px;
  height: 35px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  background-color: #4e4c4c;
  border: 1px solid black;
  margin: 0 2px;
}
.firstBtn{
  background-color: #2d6eaa;
}
.secondBtn{
  opacity: 0.5;
}

.btn-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.settings-box{
  width: 100%;
  height: 80%;
  background-color: #888282;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-200%);
  z-index: 2;
  transition: 0.2s linear transform;
}
.settings-wrap{
  padding: 15px;
}
.settings-text{
  text-align: center;
  margin-bottom: 30px;
}
.btn-count-player{
  height: 40px;
  font-size: 18px;
}
.btn-spyCount-box{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn-count-player-box{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn-box__text{
  font-size: 20px;
  margin-right: 5px;
}
.btn-count-text{
  font-size: 20px;
  margin-right: 5px;
}
.btn-count-player{
  width: 40px;
}
.btn-count-player:hover{
  opacity: 0.7;
  cursor: pointer;
}
.time-in-game-box{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.time-in-game__text{
  font-size: 20px;
  margin-right: 5px;
}
.firstBtnTime{
  opacity: 0.5;
}
.secondBtnTime{
  background-color: #2d6eaa;
}
.thirdBtnTime{
  opacity: 0.5;
}
.box-timer{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#timer{
  font-size: 40px;
  color: #a83838;
  font-weight: 700;
  border-radius: 5px;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  margin-top: 10px;
}
#spy-win{
  margin: 0;
  font-size: 36px;
}

.btn-rules{
  margin-top: 15px;
  width: 40px;
}
.btn-rules:hover{
  opacity: 0.7;
  cursor: pointer;
}

.rules-wrap{
  position: absolute;
  width: 100%;
  height: 80%;
  background-color: #888282;
  border-radius: 5px;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  transform: translateY(-200%);
  transition: 0.2s linear transform;
}
.swiper{
  min-width: 0;
}
.btn-close{
  width: 35px;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: 0.2s linear opacity;
}
.btn-close:hover{
  opacity: 0.7;
  cursor: pointer;
}
.rules-slide{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-rules-image{
  width: 40%;
  display: flex;
  margin-bottom: 10px;
}
.text-rules{
  font-size: 18px;
  width: 90%;
}
.swiper-button-next{
  transform: translateX(10px);
  transform: translateY(-10px);
}
.swiper-button-prev{
  transform: translateX(-10px);
  transform: translateY(-10px);
}
.settings-icon{
  margin-top: 15px;
  width: 40px;
  transition: 0.3s linear transform;
}
.settings-icon:hover{
  opacity: 0.7;
  cursor: pointer;
}



